.main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1440px;
  gap: 16px;
  justify-content: center;
  margin: 0 auto;
}

/* Media Queries */
@media(max-width: 1024px) {
  .main {
    gap: 16px;
  }
  .imageResponsive {
    max-width: 30vw;
  }
}

@media(max-width: 600px) {
  .main {
    gap: 16px;
    row-gap: 8px;
  }
  .imageResponsive {
    max-width: 100vw;
  }

  .stepByStepTitle{
    font-size: 150%;
  }
}