.main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1440px;
  gap: 16px;
  justify-content: center;
  margin: 0 auto;
}

.Navigation {
  width: 100%;
  background-color: var(--white);
  padding: 1.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigationLinks {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.navigationLinks a {
  transition: all 0.4s;
}

.navigationLinks :hover {
  color: var(--blue-500);
}

/* Media Queries */
@media(max-width: 1024px) {
  .main {
    gap: 16px;
  }
  .imageResponsive {
    max-width: 30vw;
  }
}

@media(max-width: 600px) {
  .main {
    gap: 16px;
    row-gap: 8px;
  }
  .imageResponsive {
    max-width: 100vw;
  }

  .stepByStepTitle{
    font-size: 150%;
  }
}